<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; object-src 'none'; base-uri 'none';">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Mth6GRiDuFGG5YeIT0fMD8gZtCE0bAwi0Y32TxhOy3g" />
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  {{insert style.html}}
  <!-- minimal mistakes scripts-->
  <script src="/libs/jquery-3.6.4.slim.js"></script>
  <script async src="/libs/jquery.greedy-navigation.js"></script>
  <script async src="/libs/main.js"></script>
  <!-- end minimal mistakes scripts-->
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
  <!-- end custom head snippets -->
</head>
{{insert body_layout.html}}

<!-- Content appended here -->
